<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue first</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

<div id="app_1">
    {{msg1}}
</div>


<div id="app_2">
    <span v-bind:title="msg2">
        鼠标悬停
    </span>
</div>

<div id="app_3">
    <p v-if="seen">你可以看到我</p>
</div>

<div id="app_4">
    <ol>
        <li v-for="item in peoples">
            {{item.name}}:{{item.age}}
        </li>
    </ol>
</div>

<div id="app_5">
    <div>{{msg}}</div>
    <button v-on:click="clickHandle">点我</button>
</div>


<div id="app_6">
    <p>{{msg}}</p>
    <input v-model="msg">
</div>

<script>
    //v-model指令用于将表单的输入数据，和应用的状态数据实现双向绑定
    var app_6 = new Vue({
        el: '#app_6',
        data: {
            msg: "你好"
        }
    });


    //this指代当前Vue应用的实例
    //只需要关注逻辑层面：所有的DOM操作都有Vue(框架本身去处理)
    var app_5 = new Vue({
        el: '#app_5',
        data: {
            msg: "你好"
        },
        methods: {
            clickHandle: function (e) {
                this.msg = "干嘛！！！";
            }
        }
    });

    var app_4 = new Vue({
        el: '#app_4',
        data: {
            peoples: [
                {"name": "张三", "age": 20},
                {"name": "李四", "age": 25},
                {"name": "王五", "age": 27}
            ]
        }
    });

    //渲染字符串模板
    //控制dom结构的显示与隐藏
    var app_3 = new Vue({
        el: '#app_3',
        data: {
            seen: true
        }
    });


    /*绑定元素属性*/
    /* v-xxx 是Vue提供的指令，指令会在渲染的DOM上应用特殊的响应式行为
     * v-bind 的意思在这里：将这个元素节点的title特性和Vue实例的message属性保持一致
     * */
    var app_2 = new Vue({
        el: '#app_2',
        data: {
            msg2: '新消息' + new Date().toLocaleDateString()
        }
    });


    //渲染字符串模板
    var app_1 = new Vue({
        el: '#app_1',
        data: {
            msg1: '你好，vue'
        }
    });

</script>

</body>
</html>