# OS
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo

# Node（预留：如果以后引入构建/脚本依赖）
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 临时文件
*.tmp
*.log

# VitePress
docs-site/.vitepress/cache/
docs-site/.vitepress/dist/
