node_modules
docs/.vitepress/dist
docs/.vitepress/cache
docs/.vitepress/.temp
**/libs/**
**/lib/**
apps/vue2/src/07-源码简读/vue.js
manifest.json
docs/.vitepress/sidebar.generated.mts
docs/demos/search-index.md
docs/demos/index.md
package-lock.json
