.card {
  width: 100px;
  height: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px dashed #000000;
  border-radius: 10px;
  margin-top: 20px;
  background-color: antiquewhite;
}

.move-card {
  animation-name: move-card; /* 动画名称: 对应 @keyframes 的名称 */

  animation-duration: 1s; /* 动画：单次时长 => 0% → 100% 走完一遍 = 一次，耗时就是 animation-duration 设的值 */

  animation-timing-function: ease-in-out; /* 动画：缓动函数(动画速度曲线) */

  animation-delay: 2s; /* 动画：延迟时间(动画开始执行前的等待时间) */

  animation-iteration-count: 5; /* 动画：播放次数(1，2,3, 无限循环) */

  /*
  动画方向
  normal: 正常播放 => 每次从头开始播放，方向固定
  reverse: 反向播放 => 每次从结束状态开始播放，方向固定
  alternate: 交替播放 => 来回接着播，不重置，像钟摆
  alternate-reverse: 交替反向播放
  */
  animation-direction: alternate;
  /*
  元素填充样式
  就是动画结束后和开始之前用那个样式填充元素的样式
  backwards → 开始之前（delay 期间）用动画第一帧样式
  forwards → 结束之后用动画最后一帧样式
  both → 两头都管(开始之前用第一帧, 结束之后用最后一帧) => 对，大多数场景用 both 最省心，行为最符合直觉——整个过程没有样式跳变
  none → 两头都不管，用元素自身的 CSS 原始样式
  */
  animation-fill-mode: both;

  /*
  控制动画暂停/继续，就两个值：
  running → 动画继续播放
  paused → 动画暂停播放
  */
  animation-play-state: running;
}

/* 动画序列: 定义动画的关键步骤
move-card 动画名称
*/
@keyframes move-card {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(100px);
  }
}

.move-card:hover {
  animation-play-state: paused;
}
