<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="../../lib/vue.js"></script>
    <!--引入element组件库：样式和组件-->
    <link rel="stylesheet" href="../../lib/element/index.css">
    <script src="../../lib/element/index.js"></script>
</head>
<body>

<div id="app">
    <div class="widgets">
        <div class="button-dialog">
            <el-button @click="visible = true">Button</el-button>
            <el-dialog :visible.sync="visible" title="Hello world">
                <p>Try Element</p>
            </el-dialog>
        </div>
        <div class="input">
            <div>{{inputValue}}</div>
            <el-input v-model="inputValue" placeholder="请输入内容" suffix-icon="el-icon-search"></el-input>
        </div>
    </div>
    <div class="form">
        <el-form  status-icon :model="formData" ref="loginForm" :rules="formCheckRules" label-position="left" label-width="80px">
            <el-form-item label="用户名" prop="username">
                <el-input type="text" v-model="formData.username"></el-input>
            </el-form-item>
            <el-form-item label="密码"  prop="password"><!--记住这里使用v-model让用户的输入数据，和实例的数据进行双向绑定 -->
                <el-input type="password" v-model="formData.password"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click.prevent="handleLogin('loginForm')">提交</el-button>
            </el-form-item>
        </el-form>
    </div>
</div>

<script>
    console.log(111);

    let comp = {
        data() {
            let validateUserName = (rule, value, callback) => {
                if (!value) {
                    callback(new Error("用户名不能为空!"));
                } else {
                    callback();
                }
            };

            let validatePassworld = (rule, value, callback) => {
                if (!value) {
                    callback(new Error("密码不能为空!"));
                } else {
                    callback();
                }
            };

            return {
                inputValue: "init value",
                visible: false,
                formData: {
                    username: "",
                    password: ""
                },
                formCheckRules: {
                    username: [
                        {
                            validator: validateUserName, trigger: 'blur'
                        }
                    ],
                    password: [
                        {
                            validator: validatePassworld, trigger: 'blur'
                        }
                    ]
                }
            }
        },
        methods: {
            handleLogin(loginForm) {
                //validate是el-from组件的方法属性：验证函数
                //对整个表单进行校验的方法：参数为一个回调函数。该回调函数
                //会在检验结束后被调用，并传入两个参数：1.是否验证成功 2未通过校验的字段
                //如果不传入回调函数，将会返回一个Promise
                this.$refs[loginForm].validate((valid)=>{
                    if(valid){
                        console.log("验证成功!");
                    }else{
                        console.log("验证失败!");
                    }
                });
            }
        }
    };

    //Vue.extend() 是Vue的基础构造器，参数是一个包含组件选项的对象
    //使用基础构造器创建一个子类
    let Ctor = Vue.extend(comp);

    //创建子类的实例，并挂在到一个元素上
    new Ctor().$mount("#app");


</script>

</body>
</html>