/* 定义安全区 */
:root {
  --safe-top: env(safe-area-inset-top);
  --safe-bottom: env(safe-area-inset-bottom);
}

:root {
  /* 主题色 */
  --color-primary: #409eff;
  --color-secondary: #fff;

  /* 背景色 */
  --header-background-color: var(--color-primary);
  --main-background-color: #e1c0c0;
  --footer-background-color: #dddddd;

  /* 文字大小 */
  --font-size-small: 14px;
  --font-size-medium: 16px;
  --font-size-large: 22px;

  /* 布局 */
  --layout-header-height: 50px;
  --layout-footer-height: 50px;
}

/* 避免布局时: 出现给元素设置好了width/height,
但是padding/border会撑破元素的情况，
导致布局问题
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  /* border本身占高度
  html 和 body 同时 border
  重复的border会叠加
  */
  /* border: 5px solid red; */
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  height: 100%;
}

html {
  border: 5px solid red;
}

#app {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  height: 100%;
}

header {
  background-color: var(--header-background-color);
  font-size: var(--font-size-large);
  /* height: var(--layout-header-height); */
  padding-top: var(--safe-top);
  text-align: center;
}

main {
  background-color: var(--main-background-color);
  font-size: var(--font-size-medium);
  flex: 1;
}

footer {
  background-color: var(--footer-background-color);
  font-size: var(--font-size-medium);
  /* height: var(--layout-footer-height); */
  /* padding-bottom: var(--safe-bottom); */
  text-align: center;
}

/*
--safe-bottom 的高度，刚好就是非矩形的手机底部的安全区的高度
*/
.footer-placeholder {
  height: var(--safe-bottom);
  background-color: #e1c0c0;
}
