/*
此文件是消费层：通过 var 引用全局变量，不用写死颜色
*/

/*
此文件: 是应用样式
*/

/*
component（app.css）

组件层不变，和设计工具解耦
*/

#app {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  height: 100%;
}

header {
  background-color: var(--header-background-color);
  font-size: var(--font-size-large);
  /* height: var(--layout-header-height); */
  padding-top: var(--safe-top);
  text-align: center;
}

main {
  background-color: var(--main-background-color);
  font-size: var(--font-size-medium);
  flex: 1;
}

footer {
  background-color: var(--footer-background-color);
  font-size: var(--font-size-medium);
  /* height: var(--layout-footer-height); */
  /* padding-bottom: var(--safe-bottom); */
  text-align: center;
}

/*
--safe-bottom 的高度，刚好就是非矩形的手机底部的安全区的高度
更常见的安全区写法（把 padding 放在 footer 上，而不是单独 0 高度块）：

站位块仅仅是为了调试安全区使用的，不要在生产环境中使用，
*/
.footer-placeholder {
  /* .footer-placeholder 在桌面端高度为 0
  但里面还有文字，文字用默认的 overflow: visible 画到了盒子外面
  */
  height: var(--safe-bottom);
  background-color: #e1c0c0;

  /*
  更常见的安全区写法（把 padding 放在 footer 上，而不是单独 0 高度块）：
  */

  /* 方案一: 如果它只是占位，不需要显示文字 */

  /* 方案二: overflow: hidden; */
  overflow: hidden;
}
