/* 避免布局时: 出现给元素设置好了width/height,
但是padding/border会撑破元素的情况，
导致布局问题
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  /* border本身占高度
   html 和 body 同时 border
   重复的border会叠加
   */
  /* border: 5px solid red; */
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  height: 100%;
}

html {
  border: 5px solid red;
}
