/*
此文件是主题层
*/

/*
此文件是品牌样式:
通过 html 的 data-brand 属性来切换品牌主题
(通过html的属性选择器，实现对:root中声明的全局css变量的覆盖)
*/

/*
css属性选择器: CSS 属性选择器匹配那些具有特定属性或属性值的元素


匹配具有title属性的a元素
a[title]{
  color: red;
}

匹配具有title属性，且属性值为test的a元素
a[title='test']{
  color: red;
}

*/

/*
匹配具有data-brand属性，且属性值为green的html元素
*/
html[data-brand='green'] {
  --color-primary: #3cc469;
}

html[data-brand='red'] {
  --color-primary: #f56c6c;
}
