/*
此文件是令牌层: 在 :root 中定义全局css变量(主题色，字体大小，背景，布局等)

root 中定义的是默认主题色，品牌样式会覆盖默认主题色
*/

/* 定义安全区 */
:root {
  --safe-top: env(safe-area-inset-top);
  --safe-bottom: env(safe-area-inset-bottom);
}

:root {
  /*
  告诉浏览器这个页面同时支持亮色和暗色两种配色方案
  主要影响的是浏览器自带的 UI


  MDN 写明，用户代理会根据使用的 color scheme 调整：

页面画布（canvas）的默认底色
滚动条等交互 UI 的默认颜色
表单控件（input、select、textarea、button 等）的默认样式
拼写检查下划线等其它浏览器 UI
所以暗色模式下，即使你没给 input 写样式，原生表单也会尽量跟着变暗，而不是仍是一块白。
  */
  color-scheme: light dark;

  /* 主题色 */
  --color-primary: #409eff;
  --color-secondary: #fff;

  /* 文字色 */
  --color-text-primary: #111827;
  --color-text-secondary: #4b5563;

  /* 背景色 */
  --header-background-color: var(--color-primary);
  --main-background-color: #f3f4f6;
  --footer-background-color: #ffffff;
  --footer-placeholder-background-color: var(--main-background-color);

  /* 文字大小 */
  --font-size-small: 14px;
  --font-size-medium: 16px;
  --font-size-large: 22px;

  /* 布局 */
  --layout-header-height: 50px;
  --layout-footer-height: 50px;
}
