/*
此文件是令牌层: 在 :root 中定义全局css变量(主题色，字体大小，背景，布局等)

root 中定义的是默认主题色，品牌样式会覆盖默认主题色
*/

/* 定义安全区 */
:root {
  --safe-top: env(safe-area-inset-top);
  --safe-bottom: env(safe-area-inset-bottom);
}

:root {
  /* =========== primitive(原始色板) ===========*/
  /* 主题色 */
  --color-primary: #409eff;
  --color-secondary: #fff;

  /* =========== semantic(语义层) =========== */
  /* 背景色 */
  --header-background-color: var(--color-primary);
  --main-background-color: #e1c0c0;
  --footer-background-color: #dddddd;

  /* 文字大小 */
  --font-size-small: 14px;
  --font-size-medium: 16px;
  --font-size-large: 22px;

  /* 布局 */
  --layout-header-height: 50px;
  --layout-footer-height: 50px;
}
