.card {
  width: 100px;
  height: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px dashed #000000;
  border-radius: 10px;
  margin-top: 20px;
}

/* ────────────────── hover-me ────────────────── */
/*
1.必须有触发事件(hover, active, focus, etc.)
2.必须有起始状态和结束状态
3.必须有过渡效果
*/
.card.hover-me {
  /* 起始状态 */
  color: #000000;
  background: #3b82f6;
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  /* 过渡效果 */
  transition: all 0.3s ease-in-out;
}

.card.hover-me:hover {
  /* 结束状态 */
  color: #ffffff;
  background: #2563eb;
  transform: translateY(-2px); /* 轻微上浮 */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* ────────────────── active-me ────────────────── */
.card.active-me {
  /* 起始状态 */
  color: #000000;
  background: #3b82f6;
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  /* 过渡效果 */
  transition: all 0.3s ease-in-out;
}

/*
:active 是 CSS 的一个伪类选择器，表示元素正在被激活的瞬间状态
最常见的场景是: 鼠标按下但还未释放时，或触摸屏手指按住时
触发时机很短 — 只在"按下"到"松开"之间生效，松手即恢复
*/
.card.active-me:active {
  /* 结束状态 */
  color: #ffffff;
  background: #2563eb;
  transform: translateY(-4px); /* 轻微上浮 */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* ────────────────── focus-me ────────────────── */
/*
input 元素聚焦时，改变外观和样式
*/
.card.focus-me input {
  /* 起始状态 */
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #d1d5db;
  outline: none;
  box-shadow: 0 0 0 0 transparent;

  /* 过渡效果 */
  /* 简写 */
  /* transition:
    border-color 0.2s,
    box-shadow 0.2s; */

  /* 拆分 */
  transition-behavior: normal; /* 正常过渡，默认值 */

  /* 过渡持续时间 */
  transition-duration: 0.2s;

  /* 过渡速度曲线: 匀速、加速、减速、先加速后减速等 */
  transition-timing-function: ease-in-out;

  /* 过渡延迟时间: 属性变化后，延迟多久开始过渡动画 */
  transition-delay: 0s;

  /* 指定哪些属性参数过渡 */
  transition-property: border-color, box-shadow, width;
}

.card.focus-me input:focus {
  /* 结束状态 */
  width: 160px;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 6px;
  border-color: #3b82f6;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.3);
}

.hover-zone {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ────────────────── hover-zone1 display-none ────────────────── */
/* 触发源 */
.hover-zone1 {
  width: 100px;
  height: 100px;
  border: 5px dashed red;
  margin-top: 20px;
}

.hover-zone1 .card.display-none {
  /* 起始状态 */
  background-color: antiquewhite;
  margin-top: 0;
  display: block;
  opacity: 1;
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.hover-zone1:hover {
  .card.display-none {
    /* 结束状态 */
    display: none;
    opacity: 0;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
}

/* ────────────────── hover-zone2 display-none 离散 ────────────────── */
/* 触发源 */
.hover-zone2 {
  width: 100px;
  height: 100px;
  border: 5px dashed red;
  margin-top: 20px;
}

.hover-zone2 .card.display-none {
  /* 起始状态 */
  background-color: antiquewhite;
  margin-top: 0;
  display: block;
  opacity: 1;
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  /* transition: all 0.3s ease-in-out; */
  /* 拆分 */
  transition-behavior: allow-discrete;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  transition-property: all;
  transition-property: margin-top, display, opacity, transform, box-shadow;
}

.hover-zone2:hover {
  .card.display-none {
    /* 结束状态 */
    display: none;
    opacity: 0;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
}
